In [1]:
import requests
import json
import pandas as pd

# Load data
Two CSV files + one API

In [2]:
# read CSV file 2 which has villager popularity ratings
popularity = pd.read_csv('data/acnh_villager_data.csv')

# display first 5 rows of popularity data to examine
popularity.head()

   tier  rank     name
0     1     1  Raymond
1     1     2  Marshal
2     1     3    Shino
3     1     4    Sherb
4     1     5    Sasha

In [3]:
# read CSV file 1 with paradise planning data for each villager
paradise = pd.read_csv('data/Paradise Planning.csv')

# display first 5 rows to examine data
paradise.head()

,Name,Filename,Request,Thought bubble,Song,Furniture List,Furniture Name List,Unique Entry ID
0,Ace,brd09,The Fishin' Hole,I want a place where I can fish to my heart's ...,To the Edge,3064;13637;13347,cooler box;outdoor folding chair;yacht,yrzvoz4kNmqN8N2pX
1,Admiral,brd06,Cool Country Cabin,I want a cool cabin where I can relax on hot d...,K.K. Rally,2736;2326;5979,retro fan;water pump;bamboo noodle slide,2dKeMSMjBLekssvwo
2,Agent S,squ05,Training Grounds for a Hero,"Heroes train! It's what they do, even on vacat...",Go K.K. Rider,7653;4015;4078,speed bag;shower booth;barbell,EN7dGxBHogyTYD4pS
3,Agnes,pig17,The Artsiest Art Museum,I want a place that's like a museum with artsy...,K.K. Fugue,1712;13255;13302,poster stand;elaborate display case;decorative...,pmmgTrYA9hvoj2v9b
4,Al,gor08,Gymnastics School for Kids,My dream is to someday teach gymnastics to kids.,K.K. Étude,12701;13188;7845,school locker;ball catcher;pull-up-bar stand,XKm6cmQjf4eFAHMRT

In [4]:
# retrieve villagers data from the API
response = requests.get('https://acnhapi.com/v1/villagers')

In [5]:
# convert villagers data into JSON format
data = response.json()

In [6]:
# print the keys to understand structure
print(data.keys())

dict_keys(['ant00', 'ant01', 'ant02', 'ant03', 'ant06', 'ant08', 'ant09', 'bea00', 'bea01', 'bea02', 'bea03', 'bea05', 'bea06', 'bea07', 'bea08', 'bea09', 'bea10', 'bea11', 'bea12', 'bea13', 'bea14', 'bea15', 'brd00', 'brd01', 'brd02', 'brd03', 'brd04', 'brd05', 'brd06', 'brd08', 'brd11', 'brd15', 'brd16', 'brd17', 'brd18', 'bul00', 'bul01', 'bul03', 'bul05', 'bul07', 'bul08', 'cat00', 'cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16', 'cat17', 'cat18', 'cat19', 'cat20', 'cat21', 'cat23', 'cbr00', 'cbr01', 'cbr02', 'cbr03', 'cbr04', 'cbr05', 'cbr06', 'cbr07', 'cbr09', 'cbr10', 'cbr13', 'cbr14', 'cbr15', 'cbr16', 'cbr17', 'cbr19', 'chn00', 'chn01', 'chn02', 'chn05', 'chn09', 'chn10', 'chn11', 'chn12', 'chn13', 'cow00', 'cow01', 'cow06', 'cow07', 'crd00', 'crd01', 'crd02', 'crd04', 'crd06', 'crd07', 'crd08', 'der00', 'der01', 'der02', 'der03', 'der04', 'der05', 'der06', 'der07', 'der08', 'der09', 'dog00', 'dog01', 'dog02', 'dog03', 'dog04', 'dog05', 'dog06', 'dog07', 'dog08', 'dog09', 'dog10', 'dog14', 'dog15', 'dog16', 'dog17', 'dog18', 'duk00', 'duk01', 'duk02', 'duk03', 'duk04', 'duk05', 'duk06', 'duk07', 'duk08', 'duk09', 'duk10', 'duk11', 'duk12', 'duk13', 'duk15', 'duk16', 'duk17', 'elp00', 'elp01', 'elp02', 'elp03', 'elp04', 'elp05', 'elp06', 'elp07', 'elp09', 'elp10', 'elp12', 'flg00', 'flg01', 'flg02', 'flg03', 'flg04', 'flg05', 'flg06', 'flg07', 'flg09', 'flg10', 'flg11', 'flg12', 'flg13', 'flg15', 'flg16', 'flg17', 'flg18', 'flg19', 'goa00', 'goa01', 'goa02', 'goa04', 'goa06', 'goa07', 'goa08', 'goa09', 'gor00', 'gor01', 'gor02', 'gor04', 'gor05', 'gor07', 'gor08', 'gor09', 'gor10', 'ham00', 'ham01', 'ham02', 'ham03', 'ham04', 'ham05', 'ham06', 'ham07', 'hip00', 'hip02', 'hip03', 'hip04', 'hip05', 'hip08', 'hip09', 'hrs00', 'hrs01', 'hrs02', 'hrs03', 'hrs04', 'hrs05', 'hrs06', 'hrs07', 'hrs08', 'hrs09', 'hrs10', 'hrs11', 'hrs12', 'hrs13', 'hrs16', 'kal00', 'kal01', 'kal02', 'kal03', 'kal04', 'kal05', 'kal08', 'kal09', 'kal10', 'kgr00', 'kgr01', 'kgr02', 'kgr05', 'kgr06', 'kgr08', 'kgr09', 'kgr10', 'lon00', 'lon01', 'lon02', 'lon04', 'lon06', 'lon07', 'lon08', 'mnk01', 'mnk02', 'mnk03', 'mnk04', 'mnk05', 'mnk06', 'mnk07', 'mnk08', 'mus00', 'mus01', 'mus02', 'mus03', 'mus04', 'mus05', 'mus08', 'mus09', 'mus10', 'mus12', 'mus14', 'mus15', 'mus16', 'mus17', 'mus18', 'ocp00', 'ocp01', 'ocp02', 'ost00', 'ost01', 'ost02', 'ost03', 'ost05', 'ost06', 'ost07', 'ost08', 'ost09', 'ost10', 'pbr00', 'pbr01', 'pbr02', 'pbr03', 'pbr05', 'pbr06', 'pbr07', 'pbr08', 'pbr09', 'pgn00', 'pgn01', 'pgn02', 'pgn03', 'pgn04', 'pgn05', 'pgn06', 'pgn09', 'pgn10', 'pgn11', 'pgn12', 'pgn13', 'pgn14', 'pig00', 'pig01', 'pig02', 'pig03', 'pig04', 'pig05', 'pig08', 'pig09', 'pig10', 'pig11', 'pig13', 'pig14', 'pig15', 'pig16', 'pig17', 'rbt00', 'rbt01', 'rbt02', 'rbt03', 'rbt04', 'rbt05', 'rbt06', 'rbt07', 'rbt08', 'rbt09', 'rbt10', 'rbt11', 'rbt12', 'rbt13', 'rbt14', 'rbt15', 'rbt16', 'rbt17', 'rbt18', 'rbt19', 'rhn00', 'rhn01', 'rhn02', 'rhn04', 'rhn07', 'rhn08', 'shp00', 'shp01', 'shp02', 'shp03', 'shp04', 'shp07', 'shp08', 'shp09', 'shp10', 'shp11', 'shp12', 'shp13', 'shp15', 'squ00', 'squ01', 'squ02', 'squ03', 'squ04', 'squ05', 'squ06', 'squ07', 'squ08', 'squ09', 'squ10', 'squ11', 'squ13', 'squ14', 'squ15', 'squ16', 'squ17', 'squ18', 'tig00', 'tig01', 'tig02', 'tig03', 'tig04', 'tig05', 'tig06', 'wol00', 'wol01', 'wol02', 'wol03', 'wol04', 'wol05', 'wol06', 'wol08', 'wol09', 'wol10', 'wol12'])

In [7]:
# initialize empty list to store villager data
data_list = []

In [8]:
# loop through each key
for key in data.keys():
    # get the data for each villager using key
    villager_data = data[key]
    
    # convert the data for the villager into a dataframe
    villager_df = pd.json_normalize(villager_data)
    
    # append the dataframe to data_list
    data_list.append(villager_df)
    
#concatenate all dataframes in the list into a single villagers dataframe
villagers = pd.concat(data_list, ignore_index=True)

In [9]:
# display first 5 rows of villagers data to examine
villagers.head()

,id,file-name,personality,birthday-string,birthday,species,gender,subtype,hobby,catch-phrase,...,catch-translations.catch-USes,catch-translations.catch-EUfr,catch-translations.catch-USfr,catch-translations.catch-EUit,catch-translations.catch-EUnl,catch-translations.catch-CNzh,catch-translations.catch-TWzh,catch-translations.catch-JPja,catch-translations.catch-KRko,catch-translations.catch-EUru
0,1,ant00,Cranky,March 9th,9/3,Anteater,Male,B,Education,ah-CHOO,...,achús,ATCHOUM,ATCHOUM,ett-CCIÙ,ha-TSJOE,有的,有的,でごわす,임돠,апчхи
1,2,ant01,Jock,October 20th,20/10,Anteater,Male,B,Fitness,honk,...,fufuf,pouet,pouet,honk,snuit,真诚,真誠,ホントに,진짜로,го-го-го
2,3,ant02,Peppy,November 9th,9/11,Anteater,Female,B,Fashion,snooooof,...,snuf-snuf,pouuuuuf,pouuuuuf,snuuf,snufffff,希希,希希,だっしー,라지요,снуф-снуф
3,4,ant03,Peppy,February 16th,16/2,Anteater,Female,B,Fashion,snorty,...,fa-fiú,grognon,grognon,snorty,snork,真的假的,真的假的,マジでー,정말,хрум-хрум
4,5,ant06,Snooty,October 24th,24/10,Anteater,Female,A,Education,sniffff,...,sniff,snif snif,snif snif,sniffff,snuifff,麻烦了,麻煩了,たもれ,추릅,шмыг

# Clean data and perform a pandas merge

## Clean

In [10]:
# print column names from villagers data to see which columns are not needed
print(villagers.columns)

Index(['id', 'file-name', 'personality', 'birthday-string', 'birthday',
       'species', 'gender', 'subtype', 'hobby', 'catch-phrase', 'icon_uri',
       'image_uri', 'bubble-color', 'text-color', 'saying', 'name.name-USen',
       'name.name-EUen', 'name.name-EUde', 'name.name-EUes', 'name.name-USes',
       'name.name-EUfr', 'name.name-USfr', 'name.name-EUit', 'name.name-EUnl',
       'name.name-CNzh', 'name.name-TWzh', 'name.name-JPja', 'name.name-KRko',
       'name.name-EUru', 'catch-translations.catch-USen',
       'catch-translations.catch-EUen', 'catch-translations.catch-EUde',
       'catch-translations.catch-EUes', 'catch-translations.catch-USes',
       'catch-translations.catch-EUfr', 'catch-translations.catch-USfr',
       'catch-translations.catch-EUit', 'catch-translations.catch-EUnl',
       'catch-translations.catch-CNzh', 'catch-translations.catch-TWzh',
       'catch-translations.catch-JPja', 'catch-translations.catch-KRko',
       'catch-translations.catch-EUru'],
      dtype='object')

In [11]:
# DROP UNNEEDED COLUMNS IN VILLAGERS DATAFRAME
# define list of column names to drop from the villagers dataframe
columns_to_drop = ['file-name','icon_uri', 'image_uri', 'name.name-EUen', 'name.name-EUde', 'name.name-EUes', 'name.name-USes',
       'name.name-EUfr', 'name.name-USfr', 'name.name-EUit', 'name.name-EUnl',
       'name.name-CNzh', 'name.name-TWzh', 'name.name-JPja', 'name.name-KRko',
       'name.name-EUru', 'catch-translations.catch-USen',
       'catch-translations.catch-EUen', 'catch-translations.catch-EUde',
       'catch-translations.catch-EUes', 'catch-translations.catch-USes',
       'catch-translations.catch-EUfr', 'catch-translations.catch-USfr',
       'catch-translations.catch-EUit', 'catch-translations.catch-EUnl',
       'catch-translations.catch-CNzh', 'catch-translations.catch-TWzh',
       'catch-translations.catch-JPja', 'catch-translations.catch-KRko',
       'catch-translations.catch-EUru']
# drop the columns from the villagers dataframe
villagers = villagers.drop(columns=columns_to_drop)
# verify the columns were dropped
villagers.head()

,id,personality,birthday-string,birthday,species,gender,subtype,hobby,catch-phrase,bubble-color,text-color,saying,name.name-USen
0,1,Cranky,March 9th,9/3,Anteater,Male,B,Education,ah-CHOO,#194c89,#fffad4,Don't punch your nose to spite your face.,Cyrano
1,2,Jock,October 20th,20/10,Anteater,Male,B,Fitness,honk,#fff98f,#879b96,Always go for the burn!,Antonio
2,3,Peppy,November 9th,9/11,Anteater,Female,B,Fashion,snooooof,#00d1bd,#fffce9,A thing of beauty is a joy forever.,Pango
3,4,Peppy,February 16th,16/2,Anteater,Female,B,Fashion,snorty,#ff791f,#fff2bb,Dance like no one's watching!,Anabelle
4,5,Snooty,October 24th,24/10,Anteater,Female,A,Education,sniffff,#f2bdc7,#634b4b,"Request forgiveness, not permission.",Snooty

In [12]:
# MOVE COLUMN WITH NAMES OF VILLAGERS TO THE SECOND COLUMN
# get list of all column names in villagers dataframe
cols = villagers.columns.tolist()

#move 'name.name-USen' column to second column
cols.insert(1, cols.pop(cols.index('name.name-USen'))) 

#reorder the columns
villagers = villagers.reindex(columns=cols) 

#verify the column was moved
villagers.head()

,id,name.name-USen,personality,birthday-string,birthday,species,gender,subtype,hobby,catch-phrase,bubble-color,text-color,saying
0,1,Cyrano,Cranky,March 9th,9/3,Anteater,Male,B,Education,ah-CHOO,#194c89,#fffad4,Don't punch your nose to spite your face.
1,2,Antonio,Jock,October 20th,20/10,Anteater,Male,B,Fitness,honk,#fff98f,#879b96,Always go for the burn!
2,3,Pango,Peppy,November 9th,9/11,Anteater,Female,B,Fashion,snooooof,#00d1bd,#fffce9,A thing of beauty is a joy forever.
3,4,Anabelle,Peppy,February 16th,16/2,Anteater,Female,B,Fashion,snorty,#ff791f,#fff2bb,Dance like no one's watching!
4,5,Snooty,Snooty,October 24th,24/10,Anteater,Female,A,Education,sniffff,#f2bdc7,#634b4b,"Request forgiveness, not permission."

In [13]:
# change all column names to title case
villagers.columns = villagers.columns.str.title()
# verify
villagers.head()

,Id,Name.Name-Usen,Personality,Birthday-String,Birthday,Species,Gender,Subtype,Hobby,Catch-Phrase,Bubble-Color,Text-Color,Saying
0,1,Cyrano,Cranky,March 9th,9/3,Anteater,Male,B,Education,ah-CHOO,#194c89,#fffad4,Don't punch your nose to spite your face.
1,2,Antonio,Jock,October 20th,20/10,Anteater,Male,B,Fitness,honk,#fff98f,#879b96,Always go for the burn!
2,3,Pango,Peppy,November 9th,9/11,Anteater,Female,B,Fashion,snooooof,#00d1bd,#fffce9,A thing of beauty is a joy forever.
3,4,Anabelle,Peppy,February 16th,16/2,Anteater,Female,B,Fashion,snorty,#ff791f,#fff2bb,Dance like no one's watching!
4,5,Snooty,Snooty,October 24th,24/10,Anteater,Female,A,Education,sniffff,#f2bdc7,#634b4b,"Request forgiveness, not permission."

In [14]:
# rename 'Name.name-USen' column to 'Name'
villagers = villagers.rename(columns={'Name.Name-Usen': 'Name'})
#verify
villagers.head()

,Id,Name,Personality,Birthday-String,Birthday,Species,Gender,Subtype,Hobby,Catch-Phrase,Bubble-Color,Text-Color,Saying
0,1,Cyrano,Cranky,March 9th,9/3,Anteater,Male,B,Education,ah-CHOO,#194c89,#fffad4,Don't punch your nose to spite your face.
1,2,Antonio,Jock,October 20th,20/10,Anteater,Male,B,Fitness,honk,#fff98f,#879b96,Always go for the burn!
2,3,Pango,Peppy,November 9th,9/11,Anteater,Female,B,Fashion,snooooof,#00d1bd,#fffce9,A thing of beauty is a joy forever.
3,4,Anabelle,Peppy,February 16th,16/2,Anteater,Female,B,Fashion,snorty,#ff791f,#fff2bb,Dance like no one's watching!
4,5,Snooty,Snooty,October 24th,24/10,Anteater,Female,A,Education,sniffff,#f2bdc7,#634b4b,"Request forgiveness, not permission."

In [15]:
villagers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               391 non-null    int64
 1   Name             391 non-null    object
 2   Personality      391 non-null    object
 3   Birthday-String  391 non-null    object
 4   Birthday         391 non-null    object
 5   Species          391 non-null    object
 6   Gender           391 non-null    object
 7   Subtype          391 non-null    object
 8   Hobby            391 non-null    object
 9   Catch-Phrase     391 non-null    object
 10  Bubble-Color     391 non-null    object
 11  Text-Color       391 non-null    object
 12  Saying           391 non-null    object
dtypes: int64(1), object(12)
memory usage: 39.8+ KB

In [16]:
paradise.head()

,Name,Filename,Request,Thought bubble,Song,Furniture List,Furniture Name List,Unique Entry ID
0,Ace,brd09,The Fishin' Hole,I want a place where I can fish to my heart's ...,To the Edge,3064;13637;13347,cooler box;outdoor folding chair;yacht,yrzvoz4kNmqN8N2pX
1,Admiral,brd06,Cool Country Cabin,I want a cool cabin where I can relax on hot d...,K.K. Rally,2736;2326;5979,retro fan;water pump;bamboo noodle slide,2dKeMSMjBLekssvwo
2,Agent S,squ05,Training Grounds for a Hero,"Heroes train! It's what they do, even on vacat...",Go K.K. Rider,7653;4015;4078,speed bag;shower booth;barbell,EN7dGxBHogyTYD4pS
3,Agnes,pig17,The Artsiest Art Museum,I want a place that's like a museum with artsy...,K.K. Fugue,1712;13255;13302,poster stand;elaborate display case;decorative...,pmmgTrYA9hvoj2v9b
4,Al,gor08,Gymnastics School for Kids,My dream is to someday teach gymnastics to kids.,K.K. Étude,12701;13188;7845,school locker;ball catcher;pull-up-bar stand,XKm6cmQjf4eFAHMRT

In [17]:
# DROP UNNEEDED COLUMNS IN PARADISE DATAFRAME
# drop the columns from the villagers dataframe
paradise = paradise.drop(columns=['Filename','Unique Entry ID'])
# verify the columns were dropped
paradise.head()

,Name,Request,Thought bubble,Song,Furniture List,Furniture Name List
0,Ace,The Fishin' Hole,I want a place where I can fish to my heart's ...,To the Edge,3064;13637;13347,cooler box;outdoor folding chair;yacht
1,Admiral,Cool Country Cabin,I want a cool cabin where I can relax on hot d...,K.K. Rally,2736;2326;5979,retro fan;water pump;bamboo noodle slide
2,Agent S,Training Grounds for a Hero,"Heroes train! It's what they do, even on vacat...",Go K.K. Rider,7653;4015;4078,speed bag;shower booth;barbell
3,Agnes,The Artsiest Art Museum,I want a place that's like a museum with artsy...,K.K. Fugue,1712;13255;13302,poster stand;elaborate display case;decorative...
4,Al,Gymnastics School for Kids,My dream is to someday teach gymnastics to kids.,K.K. Étude,12701;13188;7845,school locker;ball catcher;pull-up-bar stand

In [18]:
paradise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 413 non-null    object
 1   Request              413 non-null    object
 2   Thought bubble       413 non-null    object
 3   Song                 413 non-null    object
 4   Furniture List       413 non-null    object
 5   Furniture Name List  413 non-null    object
dtypes: object(6)
memory usage: 19.5+ KB

In [19]:
# change all column names to title case
popularity.columns = popularity.columns.str.title()
# verify
popularity.head()

   Tier  Rank     Name
0     1     1  Raymond
1     1     2  Marshal
2     1     3    Shino
3     1     4    Sherb
4     1     5    Sasha

In [20]:
popularity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tier    413 non-null    int64
 1   Rank    413 non-null    int64
 2   Name    413 non-null    object
dtypes: int64(2), object(1)
memory usage: 9.8+ KB

In [21]:
# count the number of names in the villagers dataframe that are also present in the popularity dataframe
villagers['Name'].isin(popularity['Name']).sum()

386

In [22]:
mismatched_names_villagers = villagers[~villagers['Name'].isin(popularity['Name'])]['Name']
mismatched_names_villagers

159    Wart Jr.
204        Buck
306       Spork
331      O'Hare
341       Renée
Name: Name, dtype: object

In [23]:
mismatched_names_popularity = popularity[~popularity['Name'].isin(villagers['Name'])]['Name']
mismatched_names_popularity

2               Shino
4               Sasha
5                Ione
25         Cephalobot
57             Étoile
84          Tiansheng
105             Petri
108             Quinn
114             Marlo
116              Chai
146            Azalea
158             Faith
170          Chabwick
202            WartJr
212               Rio
216       Buck(Brows)
222             Renee
224           Chelsea
226             Marty
229           Roswell
261               Zoe
287             OHare
300    Crackle(Spork)
323               Ace
328              Toby
341             Frett
399             Rilla
Name: Name, dtype: object

In [24]:
# change names in popularity dataframe to match names in villagers dataframe
popularity['Name'] = popularity['Name'].replace(['WartJr'],"Wart Jr.")
popularity['Name'] = popularity['Name'].replace(['Buck(Brows)'],"Buck")
popularity['Name'] = popularity['Name'].replace(['Crackle(Spork)'],"Spork")
popularity['Name'] = popularity['Name'].replace(['OHare'],"O\'Hare")
popularity['Name'] = popularity['Name'].replace(['Renee'],"Renée")

In [25]:
# keep only rows in popularity where the Name is also present in villagers
popularity = popularity[popularity['Name'].isin(villagers['Name'])]
#check number of remaining rows to see if it matches villagers(391)
popularity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 412
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tier    391 non-null    int64
 1   Rank    391 non-null    int64
 2   Name    391 non-null    object
dtypes: int64(2), object(1)
memory usage: 12.2+ KB

In [26]:
# count the number of names in the villagers dataframe that are also present in the paradise dataframe
villagers['Name'].isin(paradise['Name']).sum()

391

In [27]:
# Check which names in the paradise dataframe are not in the villagers dataframe
not_in_villagers = ~paradise['Name'].isin(villagers['Name'])

# Count the number of such rows
num_not_in_villagers = not_in_villagers.sum()

num_not_in_villagers

22

In [28]:
# keep only rows in popularity where the Name is also present in villagers
paradise = paradise[paradise['Name'].isin(villagers['Name'])]
#check number of remaining rows to see if it matches villagers(391)
paradise.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 1 to 412
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 391 non-null    object
 1   Request              391 non-null    object
 2   Thought bubble       391 non-null    object
 3   Song                 391 non-null    object
 4   Furniture List       391 non-null    object
 5   Furniture Name List  391 non-null    object
dtypes: object(6)
memory usage: 21.4+ KB

## Merge

In [29]:
merged_df = villagers.merge(popularity, on='Name', how='inner')
merged_df.head()

,Id,Name,Personality,Birthday-String,Birthday,Species,Gender,Subtype,Hobby,Catch-Phrase,Bubble-Color,Text-Color,Saying,Tier,Rank
0,1,Cyrano,Cranky,March 9th,9/3,Anteater,Male,B,Education,ah-CHOO,#194c89,#fffad4,Don't punch your nose to spite your face.,6,125
1,2,Antonio,Jock,October 20th,20/10,Anteater,Male,B,Fitness,honk,#fff98f,#879b96,Always go for the burn!,5,1
2,3,Pango,Peppy,November 9th,9/11,Anteater,Female,B,Fashion,snooooof,#00d1bd,#fffce9,A thing of beauty is a joy forever.,6,25
3,4,Anabelle,Peppy,February 16th,16/2,Anteater,Female,B,Fashion,snorty,#ff791f,#fff2bb,Dance like no one's watching!,6,4
4,5,Snooty,Snooty,October 24th,24/10,Anteater,Female,A,Education,sniffff,#f2bdc7,#634b4b,"Request forgiveness, not permission.",6,103

In [30]:
final_merged_df = merged_df.merge(paradise, on='Name', how='inner')
final_merged_df.head()

,Id,Name,Personality,Birthday-String,Birthday,Species,Gender,Subtype,Hobby,Catch-Phrase,Bubble-Color,Text-Color,Saying,Tier,Rank,Request,Thought bubble,Song,Furniture List,Furniture Name List
0,1,Cyrano,Cranky,March 9th,9/3,Anteater,Male,B,Education,ah-CHOO,#194c89,#fffad4,Don't punch your nose to spite your face.,6,125,Construction Job Site,I want my place to feel like a construction jo...,Agent K.K.,13746;14621;12602,stacked bags;unfolded reference sheet;excavator
1,2,Antonio,Jock,October 20th,20/10,Anteater,Male,B,Fitness,honk,#fff98f,#879b96,Always go for the burn!,5,1,A Simple Stronghold,Is it too much to ask for a simple stronghold?,Space K.K.,12999;12996;12994,simple table;simple chair;simple bed
2,3,Pango,Peppy,November 9th,9/11,Anteater,Female,B,Fashion,snooooof,#00d1bd,#fffce9,A thing of beauty is a joy forever.,6,25,Ultimate Beauty Salon,I want to relax in a hot tub at the ultimate b...,K.K. Oasis,1840;4076;1288,whirlpool bath;nail-art set;fan palm
3,4,Anabelle,Peppy,February 16th,16/2,Anteater,Female,B,Fashion,snorty,#ff791f,#fff2bb,Dance like no one's watching!,6,4,Anabelle's Gathering Garden,I'd love a garden where all my friends can gat...,K.K. Calypso,13141;3595,elegant sofa;park clock
4,5,Snooty,Snooty,October 24th,24/10,Anteater,Female,A,Education,sniffff,#f2bdc7,#634b4b,"Request forgiveness, not permission.",6,103,Snooty's Indoor Swim Club,I'd simply adore having my own swim club...,Aloha K.K.,3596;1288,pool;fan palm

In [31]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 390
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   391 non-null    int64
 1   Name                 391 non-null    object
 2   Personality          391 non-null    object
 3   Birthday-String      391 non-null    object
 4   Birthday             391 non-null    object
 5   Species              391 non-null    object
 6   Gender               391 non-null    object
 7   Subtype              391 non-null    object
 8   Hobby                391 non-null    object
 9   Catch-Phrase         391 non-null    object
 10  Bubble-Color         391 non-null    object
 11  Text-Color           391 non-null    object
 12  Saying               391 non-null    object
 13  Tier                 391 non-null    int64
 14  Rank                 391 non-null    int64
 15  Request              391 non-null    object
 16  Thought bubble       391 non-null    object
 17  Song                 391 non-null    object
 18  Furniture List       391 non-null    object
 19  Furniture Name List  391 non-null    object
dtypes: int64(3), object(17)
memory usage: 64.1+ KB

## Calculate new values